<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <typeAliases>
        <package name="hr.lrukavina.upisisebackend.model"/>
    </typeAliases>
    <mappers>
        <mapper resource="mappers/KorisnikRepository.xml"/>
        <mapper resource="mappers/VisokoUcilisteRepository.xml"/>
        <mapper resource="mappers/StudijRepository.xml"/>
        <mapper resource="mappers/KolegijRepository.xml"/>
        <mapper resource="mappers/KolegijInfoRepository.xml"/>
        <mapper resource="mappers/KolegijNastavnikRepository.xml"/>
        <mapper resource="mappers/UpisRepository.xml"/>
        <mapper resource="mappers/UpisniListRepository.xml"/>
        <mapper resource="mappers/UpisKolegijRepository.xml"/>
        <mapper resource="mappers/UpisniListKolegijRepository.xml"/>
    </mappers>
</configuration>